/* Ourvalue.css */
.r-wrapper {
  padding: 50px 0;
  text-align: center;
}

.paddings {
  padding: 0 20px;
}

.r-container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative; /* Keep the relative positioning for the container */
  overflow: hidden; /* Prevent any content from overflowing */
}

.r-head {
  margin-bottom: 2rem;
  text-align: center; /* Center the text */
}

/* Add necessary styles for the Swiper container and slide */
.swiper-container {
  height: 500px; /* Adjust the height to fit the videos */
  padding: 20px; /* Add some padding to create spacing between slides */
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

iframe {
  width: 100%; /* Make the videos responsive within their containers */
  height: 100%; /* Make the videos responsive within their containers */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 40px;
}

.r-buttons {
  position: absolute;
  gap: 1rem;
  top: -4rem;
  right: 0;
}

.r-buttons button {
  font-size: 1.2rem;
  padding: 0.2rem 0.8rem;
  color: blue;
  border: none;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
}

.r-buttons>:nth-child(1) {
  background-color: #eeeeff;
}

.r-buttons>:nth-child(2) {
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
}